.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-around;
}
.computerChoicet {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

.resultt {
  font-weight: bold;
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  color: #351F33;
}

.row2{
 font-family: 'Dancing Script', cursive;
 font-family: 'Luxurious Roman', cursive;
 font-family: 'Nanum Gothic', sans-serif;
 color: #424D43;
}